<a href="https://colab.research.google.com/github/PiotrSkoupy/Twitter_Analysis/blob/main/ZUM2_NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import tweepy

##Getting tweets

In [ ]:
# df = pd.read_csv('/content/pl_covid_tweets_clean.txt', sep='\t')
# df.head()

              tweet_id        date      time lang country_place
0  1219370546116407297  2020-01-20  21:26:07   pl           NaN
1  1220355028961103872  2020-01-23  14:38:06   pl           NaN
2  1221099475982323712  2020-01-25  15:56:16   pl           NaN
3  1221232003393167360  2020-01-26  00:42:53   pl           NaN
4  1221344960194195457  2020-01-26  08:11:44   pl           NaN

In [ ]:
id_list = df['tweet_id'].tolist()

In [ ]:
print(len(id_list))

583805

In [ ]:
# CONSUMER_KEY = "*"
# CONSUMER_SECRET = "*"
# OAUTH_TOKEN = "*"
# OAUTH_TOKEN_SECRET = "*"
# auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
# auth.set_access_token(OAUTH_TOKEN, OAUTH_TOKEN_SECRET)
# api = tweepy.API(auth)

In [ ]:
# chunked_list = list()
# chunk_size=100
# for i in range(0,len(id_list), chunk_size):
#   chunked_list.append(id_list[i:i+chunk_size])
# print(len(chunked_list))

5839

In [ ]:
import time
from tqdm import tqdm

In [ ]:
# tweets_list =[]
# for chunk in tqdm(chunked_list):
#   while True:
#     try:
#       r = api.statuses_lookup(chunk)
#       break
#     except:
#       time.sleep(1) 
#   for tweet in r:
#     tweets_list.append(tweet.text)

100%|██████████| 5839/5839 [1:34:28<00:00,  1.03it/s]

In [ ]:
# df = pd.DataFrame({
#                    'tweet':tweets_list})
# df.to_csv('zum_tweets.csv', index=False)
# df.to_excel('zum_tweets.xlsx', index=False)

In [ ]:
# df.head()

                                               tweet
0  Kiedy #coronavirus dotrze do Polski, napotka o...
1  Kolejni Polacy chcą wrócić z Wuhan https://t.c...
2  A tymczasem w Wuhan odcięto od reszty świata o...
3  @PatrykWachowiec @KancelariaSejmu nie zdziwię ...
4  .@MSZ_RP: 19 Polaków chce wrócić z Wuhan, w am...

##Cleaning data

Removing stopwords

In [ ]:
df = pd.read_csv('/content/zum_tweets.csv')

In [ ]:
#Get stopwords
%%capture
!wget https://raw.githubusercontent.com/bieli/stopwords/master/polish.stopwords.txt

In [ ]:
stop =[]
with open("/content/polish.stopwords.txt", "r") as a_file:
  for line in a_file:
    stopword = line.strip()
    stop.append(stopword)

In [ ]:
df["tweet"] = df["tweet"].str.lower()
df['tweet_without_stopwords'] = df['tweet'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

In [ ]:
df.head()

                                               tweet                            tweet_without_stopwords
0  kiedy #coronavirus dotrze do polski, napotka o...  #coronavirus dotrze polski, napotka opór znako...
1  kolejni polacy chcą wrócić z wuhan https://t.c...  kolejni polacy chcą wrócić wuhan https://t.co/...
2  a tymczasem w wuhan odcięto od reszty świata o...  tymczasem wuhan odcięto reszty świata obszar p...
3  @patrykwachowiec @kancelariasejmu nie zdziwię ...  @patrykwachowiec @kancelariasejmu zdziwię się,...
4  .@msz_rp: 19 polaków chce wrócić z wuhan, w am...  .@msz_rp: 19 polaków chce wrócić wuhan, ambasa...

In [ ]:
df['clean_tweet']=''
df.head()

                                               tweet  ... clean_tweet
0  kiedy #coronavirus dotrze do polski, napotka o...  ...
1  kolejni polacy chcą wrócić z wuhan https://t.c...  ...
2  a tymczasem w wuhan odcięto od reszty świata o...  ...
3  @patrykwachowiec @kancelariasejmu nie zdziwię ...  ...
4  .@msz_rp: 19 polaków chce wrócić z wuhan, w am...  ...

[5 rows x 3 columns]

In [ ]:
#Removing link
df['clean_tweet'] = df['tweet_without_stopwords'].str.replace(r'http\S+', '')

In [ ]:
#Removing mails and tagged people
df['clean_tweet'] = df['clean_tweet'].str.replace(r'@\S+', '')

In [ ]:
#Removing punctuation
df['clean_tweet'] = df['clean_tweet'].str.replace(r'[^\w\s]', '')

In [ ]:
df.head()

                                               tweet  ...                                        clean_tweet
0  kiedy #coronavirus dotrze do polski, napotka o...  ...  coronavirus dotrze polski napotka opór znakomi...
1  kolejni polacy chcą wrócić z wuhan https://t.c...  ...                  kolejni polacy chcą wrócić wuhan
2  a tymczasem w wuhan odcięto od reszty świata o...  ...  tymczasem wuhan odcięto reszty świata obszar p...
3  @patrykwachowiec @kancelariasejmu nie zdziwię ...  ...    zdziwię się powiedzą listy pojechały chin wu...
4  .@msz_rp: 19 polaków chce wrócić z wuhan, w am...  ...   19 polaków chce wrócić wuhan ambasadzie rp pe...

[5 rows x 3 columns]

In [ ]:
emoji_pattern = re.compile("["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           "]+", flags=re.UNICODE)

In [ ]:
# #Removing emojis
for index, row in df.iterrows():
  tweet = row[2]
  tweet = emoji_pattern.sub(r'', tweet)
  df.at[index , 'clean_tweet'] = tweet

In [ ]:
df.head()

                                               tweet  ...                                        clean_tweet
0  kiedy #coronavirus dotrze do polski, napotka o...  ...  coronavirus dotrze polski napotka opór znakomi...
1  kolejni polacy chcą wrócić z wuhan https://t.c...  ...                  kolejni polacy chcą wrócić wuhan
2  a tymczasem w wuhan odcięto od reszty świata o...  ...  tymczasem wuhan odcięto reszty świata obszar p...
3  @patrykwachowiec @kancelariasejmu nie zdziwię ...  ...    zdziwię się powiedzą listy pojechały chin wu...
4  .@msz_rp: 19 polaków chce wrócić z wuhan, w am...  ...   19 polaków chce wrócić wuhan ambasadzie rp pe...

[5 rows x 3 columns]

In [ ]:
final = df['clean_tweet']
final.to_excel('clean_frame.xlsx',index=False)

## Word embedding

In [ ]:
import pandas as pd
final = pd.read_excel('/content/clean_frame.xlsx')

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer_cv = CountVectorizer(analyzer='word')
X_cv = vectorizer_cv.fit_transform(final['clean_tweet'])

##KMeans

In [ ]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=2)
kmeans.fit(X_cv)
final['cluster'] = kmeans.predict(X_cv)

In [ ]:
final['Sentiment']=''
final.loc[final['cluster'] == 0 , 'Sentiment'] = 'Negative'
final.loc[final['cluster'] == 1 , 'Sentiment'] = 'positive'
final.head()

                                         clean_tweet  cluster Sentiment
0  coronavirus dotrze polski napotka opór znakomi...        0  Negative
1                  kolejni polacy chcą wrócić wuhan         0  Negative
2  tymczasem wuhan odcięto reszty świata obszar p...        0  Negative
3    zdziwię się powiedzą listy pojechały chin wu...        0  Negative
4   19 polaków chce wrócić wuhan ambasadzie rp pe...        0  Negative

In [ ]:
final.to_excel('clustered_data.xlsx',index=False)

##Machine learning